{% extends 'base.html.twig' %}

{% block body %}

    <h1>My program : {{ program.title }}</h1>
    <h3>Category : {{program.category.name }}</h3>

    <p>Synopsis : {{ program.synopsis }}</p>


{% endblock %}